#gbar,
#guser {
	font-size: 13px;
	padding-top: 1px !important;
}

#gbar {
	height: 22px;
}

#guser {
	padding-bottom: 7px !important;
	text-align: right;
}

.gbh,
.gbd {
	border-top: 1px solid #c9d7f1;
	font-size: 1px;
}

.gbh {
	height: 0;
	position: absolute;
	top: 24px;
	width: 100%;
}

@media all {
	.gb1 {
		height: 22px;
		margin-right: .5em;
		vertical-align: top;
	}

	#gbar {
		float: left;
	}
}

a.gb1,
a.gb4 {
	text-decoration: underline !important;
}

a.gb1,
a.gb4 {
	color: #00c !important;
}

.gbi .gb4 {
	color: #dd8e27 !important;
}

.gbf .gb4 {
	color: #900 !important;
}

body,
td,
a,
p,
.h {
	font-family: sans-serif;
}

body {
	margin: 0;
	overflow-y: scroll;
}

#gog {
	padding: 3px 8px 0;
}

td {
	line-height: .8em;
}

.gac_m td {
	line-height: 17px;
}

form {
	margin-bottom: 20px;
}

.h {
	color: #1967d2;
}

em {
	font-weight: bold;
	font-style: normal;
}

.lst {
	height: 25px;
	width: 496px;
}

.gsfi,
.lst {
	font: 18px sans-serif;
}

.gsfs {
	font: 17px sans-serif;
}

.ds {
	display: inline-box;
	display: inline-block;
	margin: 3px 0 4px;
	margin-left: 4px;
}

input {
	font-family: inherit;
}

body {
	background: #fff;
	color: #1f1f1f;
}

a {
	color: #681da8;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

.fl a {
	color: #1967d2;
}

a:visited {
	color: #681da8;
}

.sblc {
	padding-top: 5px;
}

.sblc a {
	display: block;
	margin: 2px 0;
	margin-left: 13px;
	font-size: 11px;
}

.lsbb {
	background: #ecedee;
	border: solid 1px;
	border-color: #dadce0 #70757a #70757a #dadce0;
	height: 30px;
}

.lsbb {
	display: block;
}

#WqQANb a {
	display: inline-block;
	margin: 0 12px;
}

.lsb {
	background: url("/images/nav_logo229.png") 0 -261px repeat-x;
	color: #1f1f1f;
	border: none;
	cursor: pointer;
	height: 30px;
	margin: 0;
	outline: 0;
	font: 15px sans-serif;
	vertical-align: top;
}

.lsb:active {
	background: #dadce0;
}

.lst:focus {
	outline: none;
}
/* Start Project Wallace extracted inline styles */
a.gb1 {
	text-decoration: none;
}

div.gbh {
	left: 0;
}

div.gbh {
	right: 0;
}

img {
	padding: 28px 0 14px;
}

div.ds {
	height: 32px;
	margin: 4px 0;
}

input.lst {
	margin: 0;
	padding: 5px 8px 0 6px;
	vertical-align: top;
	color: #1f1f1f;
}

br {
	line-height: 0;
}

div {
	font-size: 83%;
	min-height: 3.5em;
}

div {
	font-size: 10pt;
}

div {
	margin: 19px auto;
	text-align: center;
}

p {
	font-size: 8pt;
	color: #636363;
}
/** End Project Wallace extracted inline styles */
